/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 */

/*  Modal: Help  */
.FAQ {
    cursor: hand;
    cursor: pointer;
    border: 1px solid #CCC;
    width: 99%;
    margin-top: 10px;
    padding: 10px;
}
.ANS {
    display: none;
    margin-top: 7px;
    margin-left: 18px;

}

/*  Group Autocomplete Feature */
div.auto_complete {
    width: 150px;
    background: #fff;
}

.ui-helper-hidden-accessible {
    display: none
}

/* Pathway Map Specific ?? would need to edit specificty*/